{% extends "reservas/base.html" %}
{% load static %}
{% block content %}
<!-- Botones -->
<form method="get" class="row b-3 mb-4" action="{% url 'inicio' %}">
    <div class="col-md-3">
        <label>¿Adónde vas?</label>
        <input type="text" name="q" placeholder="Nombre del espacio">
    </div>
    <div class="col-md-3">
        <label>Fecha de entrada</label>
        <input type="date" name="fecha_inicio">
    </div>
    <div class="col-md-3">
        <label>Fecha de salida</label>
        <input type="date" name="fecha_fin">
    </div>
    <div class="col-md-3 d-grid">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
    {% if mensaje %}
    <p style="color: red;">{{ mensaje }}</p>
    {% endif %}
</form>
    <div class="mb-3">
        <a href="{% url 'mis_reservas' %}" class="btn btn-outline-info me-2">Mis Reservas</a>
    </div>
<!-- Lugares -->
<h2 class="mb-3">Espacios</h2>
<div class="row">
    {% for espacio in espacios %}
    <div class="espacio col-md-4 mb-4">
        <div class="card h-100 d-flex flex-column shadow">
            <img src="{% static 'images/espacio' %}{{ espacio.id }}.jpg" class="card-img-top" alt="{{ espacio.nombre }}" height="200">
            <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="card-title">{{ espacio.nombre }}</h3>
                <p class="card-text">{{ espacio.ubicacion }}<br>Capacidad: {{ espacio.capacidad }}</p>
                {% if disponible %}
                    <p style="color: green;">Disponible</p>
                {% else %}
                    <p style="color: red;">No disponible en las fechas seleccionadas</p>
                {% endif %}
                <a href="{% url 'detalle_espacio' espacio.id %}" class="btn btn-outline-primary">Ver detalles</a>
            </div>
        </div>
    </div>
    {% empty %}
    {% endfor %}
    {% if not espacios %}
    <div class="col-12">
        <p>No hay espacios disponibles en este momento.</p>
    </div>
    {% endif %}
{% endblock %}
